// // Acumin

// @font-face {
//     font-family: 'Acumin';
//     src:    url('./fonts/AcuminPro-Black.otf') format('opentype');
//     font-weight: 900;
// }
// @font-face {
// font-family: 'Acumin';
// src:    url('./fonts/AcuminPro-BlackItalic.otf') format('opentype');
// font-weight: 900;
// font-style: italic;
// }
// @font-face {
//     font-family: 'Acumin';
//     src:    url('./fonts/AcuminPro-Bold.otf') format('opentype');
//     font-weight: bold;
// }
// @font-face {
//     font-family: 'Acumin';
//     src:    url('./fonts/AcuminPro-BoldItalic.otf') format('opentype');
//     font-weight: bold;
//     font-style: italic;
// }
// @font-face {
//     font-family: 'Acumin';
//     src:    url('./fonts/AcuminPro-Italic.otf') format('opentype');
//     font-style: italic;
// }
// @font-face {
//     font-family: 'Acumin';
//     src:    url('./fonts/AcuminPro-Light.otf') format('opentype');
//     font-weight: 200;
// }
// @font-face {
//     font-family: 'Acumin';
//     src:    url('./fonts/AcuminPro-ExtraLight.otf') format('opentype');
//     font-weight: 100;
// }
// @font-face {
//     font-family: 'Acumin';
//     src:    url('./fonts/AcuminPro-ExtraLightItalic.otf') format('opentype');
//     font-weight: 100;
//     font-style: italic;
// }
// @font-face {
//     font-family: 'Acumin';
//     src:    url('./fonts/AcuminPro-Medium.otf') format('opentype');
//     font-weight: 600;
// }
// @font-face {
//     font-family: 'Acumin';
//     src:    url('./fonts/AcuminPro-MediumItalic.otf') format('opentype');
//     font-weight: 600;
//     font-style: italic;
// }
@font-face {
    font-family: 'Acumin';
    src:    url('../public/css/fonts/AcuminPro-Regular.otf') format('opentype'),
            url('../public/css/fonts/AcuminPro-Regular.ttf') format("truetype");
    font-weight: normal;
}
// @font-face {
//     font-family: 'Acumin';
//     src:    url('./fonts/AcuminPro-SemiBold.otf') format('opentype');
//     font-weight: 700;
// }
// @font-face {
//     font-family: 'Acumin';
//     src:    url('./fonts/AcuminPro-SemiBoldItalic.otf') format('opentype');
//     font-weight: 700;
//     font-style: italic;
// }
// @font-face {
//     font-family: 'Acumin';
//     src:    url('./fonts/AcuminPro-Thin.otf') format('opentype');
//     font-weight: 300;
// }
// @font-face {
//     font-family: 'Acumin';
//     src:    url('./fonts/AcuminPro-ThinItalic.otf') format('opentype');
//     font-weight: 300;
//     font-style: italic;
// }
// // Ultrablack