//footer 
.footer {
    height: 200px;
    color: white;
    .row, .container {
        height: 100%;
    }
    &-cont {
        align-content: space-around;
    }
    &__info-2 {
        text-align: right;
    }
    &-title {
        font-size: 2.4rem;
    }
    &-txt {
        font-size: 1.8rem;
    }
}
.menu-footer {
    text-transform: uppercase;
    @include flex-row-center;
    .nav-link {
        padding: 0px 16px;
    }
    .nav-items:not(:first-child) .nav-link{
        border-left: 1px solid white;
    }
}
.link-help, .link-footer {
    transition: all 0.2s;
    &:hover, &:focus {
        color: $dark;
        background-color: white;
        padding: 4px 10px;
        transition: all 0.2s;
    }
}
.link-help {
    text-decoration: underline;
}

@media (max-width: 767px) {
    .menu-footer {
        .nav-link {
            padding: 0px 10px;
            font-size: 1.2rem;
        }
    }
}
@include media-breakpoint-down(xs) { 
    .section-home .btn-form-final {
        width: auto;
    }
    .footer {
        height: 250px;
        padding: 15px 0px;
    }
    .footer-txt {
        font-size: 1.4rem;
    }
    .menu-footer .nav-link {
        padding: 0px 6px;
    }    
}