body {
    background-color: #fafafa;
}

/* utile */

.hidden {
    /* attention : en utilisant cette classe, il faut ajouter aria-hidden="true" à l'élement */
    display: none;
}

/* style du blueprint */

    #content-created-blueprint {
        background-color: #f2f2f2;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 100 100'%3E%3Crect x='0' y='0' width='92' height='92' fill-opacity='0.61' fill='%23ffffff'/%3E%3C/svg%3E");
    }

/* style du code */

    #nav-code {
        padding: 2em;
        border: 1px solid rgba(0, 0, 0, 0.192);
        border-top: 0;
    }

/* style du code généré */

    xmp{
        margin: 0;
        padding: 0;
        white-space: pre-line;
        display: inherit;
    }

    .code-display{
        font-size: 100% !important;
        margin: 0 !important;
        padding: 1.5em !important;
        width: 100% !important;
        border-radius: 5px !important;
        background-color: black;
        color: white;
    }

    pre.prettyprinted{
        font-size: 100% !important;
        margin: 0 !important;
        padding: 1.5em !important;
        width: 100% !important;
        border-radius: 5px !important;
    }


/* style de l'interface actions */

[contenteditable="true"]:hover, #full-form input{
    cursor: pointer;
    background-color: rgba(0,0,0,0.02);
}

[data-tag="text"]:hover, [data-tag="label-text"]:hover, [data-tag="form-title"]:hover{
    cursor: text;
}

#content-created-blueprint form *{
    border: 0;
    padding: 5px;

    &:hover{
        border: 3px dotted black;
    }

    hr {
        border: 2px solid rgba(0,0,0,0.5) !important;
        padding: 0 !important;
    
        &:hover {
            border: 2px solid rgba(0,0,0,0.5) !important;
        }
    }

    .type-layout *:hover{
        border: 0 !important;
    }

}



.content-editable-selected{
    border: 3px dotted blue !important;
}

form {
    border: 0 !important;
}

input[type="checkbox"], input[type="radio"]{
    cursor: pointer !important;
}

input[type="text"], textarea{
    border: 1px solid black !important;
}

// Boutons copier le contenu

#copy-css-link, #copy-raw-code {
    position: relative;
    bottom: -10px;
    right: 100px;
    background-color: white;
}

.copy-container{
    position: absolute;
}

// Side tools (déplacer supprimer)

.side-tool {
    width: 20px;
    margin: 5px;
    display: flex;
    flex-direction: column;

    button{
        margin: 0;
        padding: 0;
        border-radius: 2px;
        color: white;
        border: none;
    }

    #tool-delete {
        background-color: rgb(241, 62, 62);
        width: 100%;
    }

    #tool-move-up {
        background-color: rgb(60, 101, 235);
    }

    #tool-move-down {
        background-color: rgb(60, 101, 235);
    }

}