// Généraux
html {
    font-size: 10px;
}
body {
    font-size: 1.4rem;
    @include acumin;
}
.btn-primary {
    @include expletus;
}
.btn-primary:hover,.btn-primary:focus  {
    color: #fff;
    background-color: #165ba0;
    border-color: #155595;
}
#btn-save-project:focus {
    border: 2px $bleu solid;
}
.modal-content .close {
    font-size: 35px;
    padding: 4px 15px;
}
a {
    color: inherit;
    &:hover, &:focus {
        color: inherit;
        text-decoration: none;
    }
}
p, h1, h2{
    margin: 0px;
}
.link-ancre, .dropdown-item {
    cursor: pointer;
}
.citation {
    font-style: italic;
    font-weight: 300;
}
.commentaire {
    font-size: 1.2rem;
    font-style: italic;
    color: $gris-fonce;
}
.entete {
    margin-top: 40px;
    margin-bottom: 20px;
    &__title {
        @include expletus;
        font-size: 3.4rem;
        font-weight: bold;
        @media (max-width: 576px) {
            font-size: 2.8rem;
        }
        &--username {
            color: $bleu;
            display: block;
        }
    }
    &__under {
        height: 5px;
        width: 90px;
        background-color: $bleu;
        margin-top: 10px;
    }
}
.hidden{
    display: none;
}
// Formulaires
.form-control {
    font-size: 1.4rem;
}
.border-12 {
    border-radius: 12px;
}
.shadow-box {
    @include shadow-box;
    border: none;
    display: block;
    width: 100%;
    padding: 8px;
}
input{
    &.shadow-box { 
        min-height: 35px;
    }
}
textarea {
    &.shadow-box { 
        min-height: 35px;
    }
}
// Checkbox 
.check-box {
    -webkit-appearance:none;
    width:15px;
    height:15px;
    border-radius:6px;
    outline:none;
    border: none;
    background-color: $gris-crea;
    border: 1px $border solid;
    @include flex-row-center;
    &:hover, &:focus {
        border: 2px $bleu solid;
    }
  }
  
  .check-box:hover {
    box-shadow:0 0 5px 0px $gris-clair inset;
  }
  
  .check-box:before {
    content:'';
    display:block;
    width:100%;
    height:100%;
    border-radius:50%; 
  }
  .check-box:checked:before {
    @include back-img-contain;
    background-color: transparent;
    background-image : url("../images/check.png");
  }
  // Btn Création 
  .btn_crea {
      color: white;
      font-size: 1.4rem;
      margin-bottom: 4px;
      svg {
          margin-right: 10px;
      }
  }
  .btn-success {
        .btn-crea__icon {
            color: $success;
        }
    }
    .btn-danger {
        .btn-crea__icon {
            color: $danger;
        }
    }
  .rond-i {
      height: 30px;
      width: 30px;
      min-height: 30px;
      min-width: 30px;
      background-color: white;
      color: $bleu;
      border-radius: 50%;
      @include flex-row-center;
  }

  .required-failed{
      border: 3px solid rgb(221, 19, 19);
      box-shadow: 0px 0px 5px rgba(0,0,0,.5);
  }

  #content-created-blueprint{
      width: 100%;
      overflow: auto;
  }

#nav-blueprint-tab, #nav-code-tab {
    font-size: 1.8rem;
}

.bloc-creation-interface{
    display: flex;
    max-width: 100%;
    margin-top: 10px;
    // padding-top: 20px;
    margin-left: 0px;
}

.main-info-form{
    margin-bottom: 20px;
    padding-bottom: 15px;
    //border-bottom: 3px dashed rgba(0,0,0,.2);
}

@media (max-width: 768px){
    //768
    .mt-4-md {
        margin-top: 1.5rem;
    }
    .mb-4-md {
        margin-bottom: 1.5rem;
    }
    .mb-3-md {
        margin-bottom: 1rem;
    }
 }

 /* style du code généré */

 xmp{
    margin: 0;
    padding: 0;
    display: inherit;
}

.code-display{
    font-size: 1em !important;
    margin: 0 !important;
    padding: 1.5em !important;
    width: 100% !important;
    border-radius: 5px !important;
    border: 1px solid #888;
    // word-break: break-all;
    overflow: hidden;
    color: white;
    font-family: monospace, monospace;
    background: #000;
}

pre.prettyprinted{
    font-size: 100% !important;
    margin: 0 !important;
    padding: 1.5em !important;
    width: 100% !important;
    border-radius: 5px !important;
}

img, a {
    -webkit-user-drag: none !important;
    -webkit-user-select: none !important;
    user-select: none !important;
    user-drag: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
}

// Page intérieur texte
.wysiwyg {
    .secondary_title {
        font-size: 1.8rem;
        font-weight: bold;
        margin: 20px 0;
        &:focus {
            outline: none;
            color: $blue;
            text-decoration: underline;
        }
    }
    .third_title {
        margin-left: 10px;
        padding-top: 25px;
        font-weight: bold;
        margin: 10px 0;
        font-size: 1.575rem;
    }
    p {
        margin-bottom: 10px;
    }
    a {
        color: $blue;
        font-weight: bold;
        text-decoration: underline;
        &:hover {
            color: $bleu-fonce;
        }
    }
    .child-bloc {
        margin-left: 15px;
    }
}

#tarteaucitronPersonalize, #tarteaucitronPercentage, .tac_activate .tac_float .tarteaucitronAllow {
    background-color: $bleu-fonce !important;
}
.input-creator:disabled {
    opacity: 0.4;
}

// Ajout par Aimee le 07 mars

.static-buttons-creator{

    position: sticky;
    height: 55px;
    width: 100%;
    background-color: white;
    top: 0px;
    z-index: 50;
    padding: 10px 10px;
    margin: 0 auto;
    box-shadow: 0 4px 5px -2px rgba(0, 0, 0, 0.2);
    // box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);

    .btn-separator{
        margin: 0px 10px;
        height: 20px;
        background-color: grey;
        opacity: 0.3;
        width: 2px;
    }

    .btn{
        height: 100%;
        width: 35px;
    }

    svg{
        color: white;
        width: 15px !important;
        height: 15px !important;
    }

    .db-icons{
        align-items: center;
        justify-content: space-between;

        svg{
            width: 12px !important;
            height: 12px !important;

            &:last-child{
                margin-left: 5px;
            }
        }
    }

}

#actions-interface-bloc{
    position: sticky;
    top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.tooltip {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    white-space: normal;
}

.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    background-color: #000;
    border-radius: 4px;
  }
