nav.navbar{
    overflow: hidden;
}
.navbar{
    padding: 0 !important;

    .container{
        padding: 0;
        height: 100%;

        #navbarSupportedContent{
            min-height: 65px;

            .btn-connect{
                transition: all .2s;
            }

            &.navbar-collapse.show{
                display: flex;
            }
            &.navbar-collapse {
                @media(max-width: 992px) {
                    flex-wrap: nowrap;
                    align-items: center;
                    flex-direction: column;
                    padding-bottom: 15px;
                    .menu-connect{
                        padding: 0px 25px;
                        justify-content: center;
                    }
                }
            }

            .nav{
                min-height: 65px;
                display: flex;
                justify-content: center;

                a{
                    min-height: 65px;
                    flex: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    transition: all .2s;
                }
            }

            .menu-lang{
                // justify-content: space-evenly;
                // min-height: 65px;
                // min-width: 105px;
                justify-content: space-around;
                min-height: 65px;
                min-width: 80px;
            }

        }

        .menu-connect{

            .nav-item{
                a:focus{
                    outline: none;
                    background-color: $bleu;
                    color: white;
                    .btn-connect__link {
                        color: white;
                    }
                }
            }

            .nav-item:hover, .nav-item:focus{
                a, a:focus{
                    background-color: $bleu;
                    color: white;
                    .btn-connect__link {
                        color: white;
                    }
                }
            }
    
            .nav-item.onglet-actif{
                a{
                    background-color: $bleu;
                    p{ 
                        color: white !important;
                    }
                }
            }
        }
    }
}

.flag {
    @include back-img;
    height: 20px;
    width: 20px;
    background-color: transparent;
    margin-right: 7px;
}
.link-flag {
    @include flex-row-between-center;
    padding: 10px 0;
    min-height: 65px;
    border-bottom: 0px solid white;
    transition: all .2s;
    @media (max-width: 991px) {
        padding: 10px 20px;
        &:hover, &:focus {
            padding: 10px 20px;
        }
    }

    &:hover, &:focus{
        color: white !important;
        border-bottom: 5px solid $bleu-clair;
        background-color: black;
        padding: 10px;
        @media (min-width: 991px) {
            margin-left: -5px;
            margin-right: 0px;
        }
    }
}
#logo-nav {
    height: 50px;
}
.main-menu .nav-link {
    border-bottom: 0px solid white;
    transition: all .2s;

    // &:after{
    //     content: '|';
    //     color: white;
    //     padding-left: 20px;
    // }

    &.onglet-actif{
        background-color: $bleu;
    }

    &:hover, &:focus{
        color: white !important;
        border-bottom: 5px solid $bleu-clair;
        background-color: black;
    }
}

.menu-lang  {
    a{
        text-decoration: none;
    }
}

.btn-connect {
    min-width: 112px;
    min-height: 25px;
    background-color: $white;
    color: black;
    height: 28px;
    border-radius: 12px;
    @include flex-row-between-center;
    padding: 2px 8px 2px 5px;

    svg{
        width: 10px !important;
    }

    &__icon {
        margin-right: 10px;
        background-color: $gris-fonce;
        color: white;
        height: 20px;
        width: 20px;
        border-radius: 20px;
        @include flex-row-center;
        i {
            font-size: 11px;
        }
        .fa-times {
            padding-top: 2px;
        }
    }
    &--two {
        margin-left: 20px;
    }
    &__link {
        color: $gris-fonce;
        font-size: 1.2rem;
        white-space: nowrap;
    }
}
.bars {
    position: relative;
    height: 25px;
    width: 36px;
    @include flex-col-between-center;
    &__line {
        border-radius: 5px;
        height: 3px;
        width: 100%;
        background-color: white;
    }
}
.bars.open {
    .bars__line {
        position: absolute;
        transition: transform 0.25s ;
    }
    .bars--snd {
        display: none;
    }
    .bars--first {
        transform: rotate(45deg);
        top: 50%;
        transition: transform 0.5s ;
    }
    .bars--last {
        transform: rotate(-45deg);
        top: 50%;
        transition: transform 0.5s ;

    }
}

@media (max-width: 1200px) {
    .flag {
        margin-right: 5px;
    }
    .btn-connect--two {
        margin-left: 10px;
    }
    .menu-lang  {
        margin-left: 4px;
        a {
            &:first-child {
                margin-right: 8px;
            }
        }
        .nav-link {
            padding: 0.5rem 0.5rem;
        }
    }
    .main-menu {
        .nav-link:after {
            padding-left: 7px;
        }
    }
}
@media (max-width: 996px) {
    .main-menu .nav-link {
        padding: 2px 4px;
    }
}

@include media-breakpoint-down(md) { 
    .navbar-dark .navbar-toggler {
        border: none;
        font-size: 25px;
    }
    .main-menu {
        flex-direction: column;
        .nav-link {
            padding: 10px 0px;
            font-size: 1.8rem;
            &:after {
                display: none;
            }
        }
    }
    .menu-connect {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        margin-bottom: 10px;
        & > * {
            width: 50%;
        }
    }
    .btn-connect {
        height: 35px;
        width: 100%;
        &__link {
            font-size: 1.5rem;
        }
    }
    .menu-lang {
        margin-left: 0px;
        margin-bottom: 20px;
        flex-direction: row;
        font-size: 1.8rem;
        a:first-child {
            margin-right: 10px;
        }
    }
    .btn-connect__icon {
        height: 30px;
        width: 30px;
    }
    .btn-connect--two {
        margin-left: 10%;
    }
}
    
