.help-container{

    scroll-behavior: smooth;
    display: grid;
    grid-template-columns: 1fr 25em;
    margin: 0 auto;

    .summary-container{
        position: sticky;
        top: 15px;
        left: 15px;
        align-self: start;
        background-color: white;
        padding: 10px;
        margin-bottom: 3rem;
        margin-top: 3rem;
        .secondary_title {
            margin-top: 5px;
            text-align: center;
        }
        ul{
            list-style: upper-roman;
            list-style-position: outside;
        }

        ul ul {
            list-style: lower-alpha;
        }

        a{
            color: $dark;
            font-weight: normal;
            transition: all .2s;
            list-style: none;
            text-decoration: none;

            &:hover, &:focus{
                color: $bleu-fonce;
                text-decoration: underline;
            }
        }
    }

    .help-text-container{
        text-align: left;
        margin-right: 15px;

        a{
            color: #3748A9;
            font-weight: bold;
            text-decoration: underline;

            &:hover, &:focus{
                color: $bleu-fonce;
            }
        }

        h2, h3{
            font-weight: bold;
            margin: 10px 0;
        }

        div div{
            margin-left: 15px;

            p{
                margin-bottom: 10px;
            }

            h3{
                margin-left: 10px;
                padding-top: 25px;
            }
            
        }
    }

}