.menu-tabs{

    #content-created-blueprint{
        resize: vertical;
        height: 430px;
        @media (max-width: 991px ) {
            height: 800px;
        }
    }
    
    .element-container , .content-editable-selected{
        padding: 0;
        margin: 0;
    }

}
.menu-blueprint{
    min-height: 350px;
}
.cont-checkbox {
    @include flex-row-center;
    padding-right: 10px;
    height: 60%;
    label {
        margin-bottom: 0px;
        margin-left: 5px;
    }
 }
.creator-panel__link, .creator-panel__title {
    margin-bottom: 3px;
}