.btn--danger {
    color: $red;
    background-color: white;
}
.btn-gris-annule {
    color: $dark;
    background-color: $gris-btn;
    &:hover, &:focus {
        color: $dark;
        background-color: $gris-btn-hover;
    }
    &:focus {
        border: 2px $bleu solid;
    }
    .btn-crea__icon {
        color: $dark;
    }
}