// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Arial', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$dark : #171819;

$blue: #004D99;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
// $red: #e3342f;
$red : #BF0E0E;
$orange: #f6993f;
$yellow: #ffed4a;
// $green: #38c172;
$green : #007A4B;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Own 
$gris-fonce : #171819;
$gris : #333333;
$gris-moyen: #888888;
$gris-clair : #F4F2F0;
$gris-clair-hover : #E7E7E7;
$gris-crea : #E7E7E7;
$border : #ced4da;
$gris-btn : #C7C7C7;
$gris-btn-hover : #BBBBBB;

// $bleu : #45B8FF;
// $primary : #45B8FF;
$bleu-clair: #3490dc;
$bleu : #004D99;
$primary : #004D99;
$bleu-fonce : #155595;

$success : #007A4B;
$danger : #BF0E0E;

$hover-primary : rgb(0, 42, 83);


