// Themes

$themes: (
    white: (
        backgroundColor: #fff,
        backgroundTheadColor: rgb(189, 189, 189),
        textColor : black,
        borderColor : grey
    ),
    black: (
        backgroundColor: rgb(51, 51, 51),
        backgroundTheadColor: rgb(15, 15, 15),
        textColor : white,
        borderColor : white
    ),
    green: (
        backgroundColor: green,
        backgroundTheadColor: rgb(1, 88, 1),
        textColor : white,
        borderColor : rgb(1, 88, 1)
    ),
    red: (
        backgroundColor: red,
        backgroundTheadColor: rgb(151, 0, 0),
        textColor : white,
        borderColor : rgb(151, 0, 0)
    ),
    blue: (
        backgroundColor: rgb(106, 106, 255),
        backgroundTheadColor: rgb(64, 64, 233),
        textColor : white,
        borderColor : rgb(64, 64, 233),
    ),
    grey: (
        backgroundColor: grey,
        backgroundTheadColor: rgb(71, 71, 71),
        textColor : black,
        borderColor : rgb(71, 71, 71)
    )
);


// Implementation des themes

@mixin themify($themes) {
    @each $theme,
    $map in $themes {
        .theme-#{$theme} & {
            $theme-map: () !global;
            @each $key,
            $submap in $map {
                $value: map-get(map-get($themes, $theme), '#{$key}');
                $theme-map: map-merge($theme-map, ($key: $value)) !global;
            }
            @content;
            $theme-map: null !global;
        }
    }
}

@function themed($key) {
    @return map-get($theme-map, $key);
}


// Styles

#full-table {
    @include themify($themes) {
      color: themed('textColor');  
      background-color: themed('backgroundColor');  
      border-collapse: collapse;

        .table-caption{
            font-size: 15px;
            color: black;
            font-style: italic;
        }

        th{
            background-color: themed('backgroundTheadColor');  
            font-weight: bold;
            border: 2px solid themed('borderColor');
        }

        td{
            border: 1px solid themed('borderColor');
        }

    }
}