@charset "UTF-8";
body {
  margin: 0px;
}

#full-menu a {
  text-decoration: none;
}

.theme-white #full-menu a {
  color: black;
}

.theme-black #full-menu a {
  color: white;
}

.theme-green #full-menu a {
  color: black;
}

.theme-red #full-menu a {
  color: white;
}

.theme-blue #full-menu a {
  color: white;
}

.theme-grey #full-menu a {
  color: white;
}

#full-menu .menu-item {
  font-size: 14px;
}

#full-menu .menu-item button {
  font-size: 14px;
}

.theme-white #full-menu {
  color: black;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 60px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.theme-white #full-menu .hidden {
  display: none !important;
}

.theme-white #full-menu .menu-identity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: left;
  width: 20%;
  padding: 10px 0px 10px 15px;
}

.theme-white #full-menu .menu-identity .menu-title {
  color: black;
  max-width: 100px;
}

@media (max-width: 991px) {
  .theme-white #full-menu .menu-identity .menu-title {
    max-width: 440px;
  }
}

@media (max-width: 767px) {
  .theme-white #full-menu .menu-identity .menu-title {
    max-width: 300px;
  }
}

@media (max-width: 575px) {
  .theme-white #full-menu .menu-identity .menu-title {
    max-width: 175px;
  }
}

@media (max-width: 450px) {
  .theme-white #full-menu .menu-identity .menu-title {
    max-width: 50%;
  }
}

.theme-white #full-menu .menu-identity .menu-logo {
  width: 40px;
  min-width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 450px) {
  .theme-white #full-menu .menu-identity .menu-logo {
    max-width: 50%;
  }
}

.theme-white #full-menu .menu-identity .menu-logo-solo {
  width: 100%;
}

.theme-white #full-menu .menu-identity .menu-separator {
  height: 60%;
  width: 2px;
  background-color: black;
  opacity: .3;
  position: relative;
  left: 1px;
  margin-left: 10px;
}

.theme-white #full-menu .menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  min-width: 80%;
}

.theme-white #full-menu .menu-items.full-width {
  width: 100%;
}

.theme-white #full-menu .menu-items .menu-name, .theme-white #full-menu .menu-items .menu-link {
  padding: 0 10px;
}

.theme-white #full-menu .menu-items .menu-item {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  -webkit-transition: all .2s;
  transition: all .2s;
  border-bottom: 0px solid white;
  padding: 0px;
}

.theme-white #full-menu .menu-items .menu-item a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.theme-white #full-menu .menu-items .menu-item.menu-title:hover, .theme-white #full-menu .menu-items .menu-item.menu-title:focus {
  text-decoration: underline;
}

.theme-white #full-menu .menu-items .menu-item a:hover, .theme-white #full-menu .menu-items .menu-item a:focus, .theme-white #full-menu .menu-items .menu-item button:hover, .theme-white #full-menu .menu-items .menu-item button:focus, .theme-white #full-menu .menu-items .menu-item .content-editable-selected {
  background-color: #999494 !important;
  border-bottom: 5px solid #5e5e5e !important;
}

.theme-white #full-menu .menu-items .menu-item a:focus, .theme-white #full-menu .menu-items .menu-item button:focus, .theme-white #full-menu .menu-items .menu-item a:hover, .theme-white #full-menu .menu-items .menu-item button:hover {
  background-color: #999494;
  border-bottom: 5px solid #5e5e5e;
  color: black;
}

.theme-white #full-menu .menu-items .menu-item a, .theme-white #full-menu .menu-items .menu-item button {
  color: black;
}

.theme-white #full-menu .menu-items .menu-item .menu-item > a:focus, .theme-white #full-menu .menu-items .menu-item .menu-item > a:hover {
  border-bottom: 0px solid #5e5e5e !important;
}

.theme-white #full-menu .menu-items .has-submenu .menu-submenus {
  width: 100%;
  height: 100%;
  background: none;
  border: 0px solid black;
}

.theme-white #full-menu .menu-items .has-submenu .menu-submenus.closed:after {
  content: "▾";
  font-weight: bold;
  padding-left: 10px;
  font-size: 20px;
}

.theme-white #full-menu .menu-items .has-submenu .menu-submenus.open:after {
  content: "▴";
  font-weight: bold;
  padding-left: 10px;
  font-size: 20px;
}

.theme-white #full-menu .menu-items .has-submenu ul {
  width: calc(100% + 40px);
  position: absolute;
  z-index: 9;
  left: -20px;
  top: 100%;
  padding-left: 0px;
}

.theme-white #full-menu .menu-items .has-submenu ul li span {
  padding: 10px;
}

.theme-white #full-menu .menu-submenu {
  display: none;
}

.theme-white #full-menu span {
  text-align: center;
}

.theme-black #full-menu {
  color: white;
  background-color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 60px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.theme-black #full-menu .hidden {
  display: none !important;
}

.theme-black #full-menu .menu-identity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: left;
  width: 20%;
  padding: 10px 0px 10px 15px;
}

.theme-black #full-menu .menu-identity .menu-title {
  color: white;
  max-width: 100px;
}

@media (max-width: 991px) {
  .theme-black #full-menu .menu-identity .menu-title {
    max-width: 440px;
  }
}

@media (max-width: 767px) {
  .theme-black #full-menu .menu-identity .menu-title {
    max-width: 300px;
  }
}

@media (max-width: 575px) {
  .theme-black #full-menu .menu-identity .menu-title {
    max-width: 175px;
  }
}

@media (max-width: 450px) {
  .theme-black #full-menu .menu-identity .menu-title {
    max-width: 50%;
  }
}

.theme-black #full-menu .menu-identity .menu-logo {
  width: 40px;
  min-width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 450px) {
  .theme-black #full-menu .menu-identity .menu-logo {
    max-width: 50%;
  }
}

.theme-black #full-menu .menu-identity .menu-logo-solo {
  width: 100%;
}

.theme-black #full-menu .menu-identity .menu-separator {
  height: 60%;
  width: 2px;
  background-color: white;
  opacity: .3;
  position: relative;
  left: 1px;
  margin-left: 10px;
}

.theme-black #full-menu .menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  min-width: 80%;
}

.theme-black #full-menu .menu-items.full-width {
  width: 100%;
}

.theme-black #full-menu .menu-items .menu-name, .theme-black #full-menu .menu-items .menu-link {
  padding: 0 10px;
}

.theme-black #full-menu .menu-items .menu-item {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #333333;
  -webkit-transition: all .2s;
  transition: all .2s;
  border-bottom: 0px solid white;
  padding: 0px;
}

.theme-black #full-menu .menu-items .menu-item a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.theme-black #full-menu .menu-items .menu-item.menu-title:hover, .theme-black #full-menu .menu-items .menu-item.menu-title:focus {
  text-decoration: underline;
}

.theme-black #full-menu .menu-items .menu-item a:hover, .theme-black #full-menu .menu-items .menu-item a:focus, .theme-black #full-menu .menu-items .menu-item button:hover, .theme-black #full-menu .menu-items .menu-item button:focus, .theme-black #full-menu .menu-items .menu-item .content-editable-selected {
  background-color: black !important;
  border-bottom: 5px solid #d4d4d4 !important;
}

.theme-black #full-menu .menu-items .menu-item a:focus, .theme-black #full-menu .menu-items .menu-item button:focus, .theme-black #full-menu .menu-items .menu-item a:hover, .theme-black #full-menu .menu-items .menu-item button:hover {
  background-color: black;
  border-bottom: 5px solid #d4d4d4;
  color: black;
}

.theme-black #full-menu .menu-items .menu-item a, .theme-black #full-menu .menu-items .menu-item button {
  color: white;
}

.theme-black #full-menu .menu-items .menu-item .menu-item > a:focus, .theme-black #full-menu .menu-items .menu-item .menu-item > a:hover {
  border-bottom: 0px solid #d4d4d4 !important;
}

.theme-black #full-menu .menu-items .has-submenu .menu-submenus {
  width: 100%;
  height: 100%;
  background: none;
  border: 0px solid black;
}

.theme-black #full-menu .menu-items .has-submenu .menu-submenus.closed:after {
  content: "▾";
  font-weight: bold;
  padding-left: 10px;
  font-size: 20px;
}

.theme-black #full-menu .menu-items .has-submenu .menu-submenus.open:after {
  content: "▴";
  font-weight: bold;
  padding-left: 10px;
  font-size: 20px;
}

.theme-black #full-menu .menu-items .has-submenu ul {
  width: calc(100% + 40px);
  position: absolute;
  z-index: 9;
  left: -20px;
  top: 100%;
  padding-left: 0px;
}

.theme-black #full-menu .menu-items .has-submenu ul li span {
  padding: 10px;
}

.theme-black #full-menu .menu-submenu {
  display: none;
}

.theme-black #full-menu span {
  text-align: center;
}

.theme-green #full-menu {
  color: black;
  background-color: #38ada9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 60px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.theme-green #full-menu .hidden {
  display: none !important;
}

.theme-green #full-menu .menu-identity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: left;
  width: 20%;
  padding: 10px 0px 10px 15px;
}

.theme-green #full-menu .menu-identity .menu-title {
  color: black;
  max-width: 100px;
}

@media (max-width: 991px) {
  .theme-green #full-menu .menu-identity .menu-title {
    max-width: 440px;
  }
}

@media (max-width: 767px) {
  .theme-green #full-menu .menu-identity .menu-title {
    max-width: 300px;
  }
}

@media (max-width: 575px) {
  .theme-green #full-menu .menu-identity .menu-title {
    max-width: 175px;
  }
}

@media (max-width: 450px) {
  .theme-green #full-menu .menu-identity .menu-title {
    max-width: 50%;
  }
}

.theme-green #full-menu .menu-identity .menu-logo {
  width: 40px;
  min-width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 450px) {
  .theme-green #full-menu .menu-identity .menu-logo {
    max-width: 50%;
  }
}

.theme-green #full-menu .menu-identity .menu-logo-solo {
  width: 100%;
}

.theme-green #full-menu .menu-identity .menu-separator {
  height: 60%;
  width: 2px;
  background-color: black;
  opacity: .3;
  position: relative;
  left: 1px;
  margin-left: 10px;
}

.theme-green #full-menu .menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  min-width: 80%;
}

.theme-green #full-menu .menu-items.full-width {
  width: 100%;
}

.theme-green #full-menu .menu-items .menu-name, .theme-green #full-menu .menu-items .menu-link {
  padding: 0 10px;
}

.theme-green #full-menu .menu-items .menu-item {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #38ada9;
  -webkit-transition: all .2s;
  transition: all .2s;
  border-bottom: 0px solid white;
  padding: 0px;
}

.theme-green #full-menu .menu-items .menu-item a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.theme-green #full-menu .menu-items .menu-item.menu-title:hover, .theme-green #full-menu .menu-items .menu-item.menu-title:focus {
  text-decoration: underline;
}

.theme-green #full-menu .menu-items .menu-item a:hover, .theme-green #full-menu .menu-items .menu-item a:focus, .theme-green #full-menu .menu-items .menu-item button:hover, .theme-green #full-menu .menu-items .menu-item button:focus, .theme-green #full-menu .menu-items .menu-item .content-editable-selected {
  background-color: #016d67 !important;
  border-bottom: 5px solid #48f8bd !important;
}

.theme-green #full-menu .menu-items .menu-item a:focus, .theme-green #full-menu .menu-items .menu-item button:focus, .theme-green #full-menu .menu-items .menu-item a:hover, .theme-green #full-menu .menu-items .menu-item button:hover {
  background-color: #016d67;
  border-bottom: 5px solid #48f8bd;
  color: white;
}

.theme-green #full-menu .menu-items .menu-item a, .theme-green #full-menu .menu-items .menu-item button {
  color: black;
}

.theme-green #full-menu .menu-items .menu-item .menu-item > a:focus, .theme-green #full-menu .menu-items .menu-item .menu-item > a:hover {
  border-bottom: 0px solid #48f8bd !important;
}

.theme-green #full-menu .menu-items .has-submenu .menu-submenus {
  width: 100%;
  height: 100%;
  background: none;
  border: 0px solid black;
}

.theme-green #full-menu .menu-items .has-submenu .menu-submenus.closed:after {
  content: "▾";
  font-weight: bold;
  padding-left: 10px;
  font-size: 20px;
}

.theme-green #full-menu .menu-items .has-submenu .menu-submenus.open:after {
  content: "▴";
  font-weight: bold;
  padding-left: 10px;
  font-size: 20px;
}

.theme-green #full-menu .menu-items .has-submenu ul {
  width: calc(100% + 40px);
  position: absolute;
  z-index: 9;
  left: -20px;
  top: 100%;
  padding-left: 0px;
}

.theme-green #full-menu .menu-items .has-submenu ul li span {
  padding: 10px;
}

.theme-green #full-menu .menu-submenu {
  display: none;
}

.theme-green #full-menu span {
  text-align: center;
}

.theme-red #full-menu {
  color: white;
  background-color: #b92c2c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 60px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.theme-red #full-menu .hidden {
  display: none !important;
}

.theme-red #full-menu .menu-identity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: left;
  width: 20%;
  padding: 10px 0px 10px 15px;
}

.theme-red #full-menu .menu-identity .menu-title {
  color: white;
  max-width: 100px;
}

@media (max-width: 991px) {
  .theme-red #full-menu .menu-identity .menu-title {
    max-width: 440px;
  }
}

@media (max-width: 767px) {
  .theme-red #full-menu .menu-identity .menu-title {
    max-width: 300px;
  }
}

@media (max-width: 575px) {
  .theme-red #full-menu .menu-identity .menu-title {
    max-width: 175px;
  }
}

@media (max-width: 450px) {
  .theme-red #full-menu .menu-identity .menu-title {
    max-width: 50%;
  }
}

.theme-red #full-menu .menu-identity .menu-logo {
  width: 40px;
  min-width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 450px) {
  .theme-red #full-menu .menu-identity .menu-logo {
    max-width: 50%;
  }
}

.theme-red #full-menu .menu-identity .menu-logo-solo {
  width: 100%;
}

.theme-red #full-menu .menu-identity .menu-separator {
  height: 60%;
  width: 2px;
  background-color: white;
  opacity: .3;
  position: relative;
  left: 1px;
  margin-left: 10px;
}

.theme-red #full-menu .menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  min-width: 80%;
}

.theme-red #full-menu .menu-items.full-width {
  width: 100%;
}

.theme-red #full-menu .menu-items .menu-name, .theme-red #full-menu .menu-items .menu-link {
  padding: 0 10px;
}

.theme-red #full-menu .menu-items .menu-item {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #b92c2c;
  -webkit-transition: all .2s;
  transition: all .2s;
  border-bottom: 0px solid white;
  padding: 0px;
}

.theme-red #full-menu .menu-items .menu-item a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.theme-red #full-menu .menu-items .menu-item.menu-title:hover, .theme-red #full-menu .menu-items .menu-item.menu-title:focus {
  text-decoration: underline;
}

.theme-red #full-menu .menu-items .menu-item a:hover, .theme-red #full-menu .menu-items .menu-item a:focus, .theme-red #full-menu .menu-items .menu-item button:hover, .theme-red #full-menu .menu-items .menu-item button:focus, .theme-red #full-menu .menu-items .menu-item .content-editable-selected {
  background-color: #700e0e !important;
  border-bottom: 5px solid #fc4040 !important;
}

.theme-red #full-menu .menu-items .menu-item a:focus, .theme-red #full-menu .menu-items .menu-item button:focus, .theme-red #full-menu .menu-items .menu-item a:hover, .theme-red #full-menu .menu-items .menu-item button:hover {
  background-color: #700e0e;
  border-bottom: 5px solid #fc4040;
  color: white;
}

.theme-red #full-menu .menu-items .menu-item a, .theme-red #full-menu .menu-items .menu-item button {
  color: white;
}

.theme-red #full-menu .menu-items .menu-item .menu-item > a:focus, .theme-red #full-menu .menu-items .menu-item .menu-item > a:hover {
  border-bottom: 0px solid #fc4040 !important;
}

.theme-red #full-menu .menu-items .has-submenu .menu-submenus {
  width: 100%;
  height: 100%;
  background: none;
  border: 0px solid black;
}

.theme-red #full-menu .menu-items .has-submenu .menu-submenus.closed:after {
  content: "▾";
  font-weight: bold;
  padding-left: 10px;
  font-size: 20px;
}

.theme-red #full-menu .menu-items .has-submenu .menu-submenus.open:after {
  content: "▴";
  font-weight: bold;
  padding-left: 10px;
  font-size: 20px;
}

.theme-red #full-menu .menu-items .has-submenu ul {
  width: calc(100% + 40px);
  position: absolute;
  z-index: 9;
  left: -20px;
  top: 100%;
  padding-left: 0px;
}

.theme-red #full-menu .menu-items .has-submenu ul li span {
  padding: 10px;
}

.theme-red #full-menu .menu-submenu {
  display: none;
}

.theme-red #full-menu span {
  text-align: center;
}

.theme-blue #full-menu {
  color: white;
  background-color: #273c75;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 60px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.theme-blue #full-menu .hidden {
  display: none !important;
}

.theme-blue #full-menu .menu-identity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: left;
  width: 20%;
  padding: 10px 0px 10px 15px;
}

.theme-blue #full-menu .menu-identity .menu-title {
  color: white;
  max-width: 100px;
}

@media (max-width: 991px) {
  .theme-blue #full-menu .menu-identity .menu-title {
    max-width: 440px;
  }
}

@media (max-width: 767px) {
  .theme-blue #full-menu .menu-identity .menu-title {
    max-width: 300px;
  }
}

@media (max-width: 575px) {
  .theme-blue #full-menu .menu-identity .menu-title {
    max-width: 175px;
  }
}

@media (max-width: 450px) {
  .theme-blue #full-menu .menu-identity .menu-title {
    max-width: 50%;
  }
}

.theme-blue #full-menu .menu-identity .menu-logo {
  width: 40px;
  min-width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 450px) {
  .theme-blue #full-menu .menu-identity .menu-logo {
    max-width: 50%;
  }
}

.theme-blue #full-menu .menu-identity .menu-logo-solo {
  width: 100%;
}

.theme-blue #full-menu .menu-identity .menu-separator {
  height: 60%;
  width: 2px;
  background-color: white;
  opacity: .3;
  position: relative;
  left: 1px;
  margin-left: 10px;
}

.theme-blue #full-menu .menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  min-width: 80%;
}

.theme-blue #full-menu .menu-items.full-width {
  width: 100%;
}

.theme-blue #full-menu .menu-items .menu-name, .theme-blue #full-menu .menu-items .menu-link {
  padding: 0 10px;
}

.theme-blue #full-menu .menu-items .menu-item {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #273c75;
  -webkit-transition: all .2s;
  transition: all .2s;
  border-bottom: 0px solid white;
  padding: 0px;
}

.theme-blue #full-menu .menu-items .menu-item a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.theme-blue #full-menu .menu-items .menu-item.menu-title:hover, .theme-blue #full-menu .menu-items .menu-item.menu-title:focus {
  text-decoration: underline;
}

.theme-blue #full-menu .menu-items .menu-item a:hover, .theme-blue #full-menu .menu-items .menu-item a:focus, .theme-blue #full-menu .menu-items .menu-item button:hover, .theme-blue #full-menu .menu-items .menu-item button:focus, .theme-blue #full-menu .menu-items .menu-item .content-editable-selected {
  background-color: #0a1a4d !important;
  border-bottom: 5px solid #7ae4ff !important;
}

.theme-blue #full-menu .menu-items .menu-item a:focus, .theme-blue #full-menu .menu-items .menu-item button:focus, .theme-blue #full-menu .menu-items .menu-item a:hover, .theme-blue #full-menu .menu-items .menu-item button:hover {
  background-color: #0a1a4d;
  border-bottom: 5px solid #7ae4ff;
  color: white;
}

.theme-blue #full-menu .menu-items .menu-item a, .theme-blue #full-menu .menu-items .menu-item button {
  color: white;
}

.theme-blue #full-menu .menu-items .menu-item .menu-item > a:focus, .theme-blue #full-menu .menu-items .menu-item .menu-item > a:hover {
  border-bottom: 0px solid #7ae4ff !important;
}

.theme-blue #full-menu .menu-items .has-submenu .menu-submenus {
  width: 100%;
  height: 100%;
  background: none;
  border: 0px solid black;
}

.theme-blue #full-menu .menu-items .has-submenu .menu-submenus.closed:after {
  content: "▾";
  font-weight: bold;
  padding-left: 10px;
  font-size: 20px;
}

.theme-blue #full-menu .menu-items .has-submenu .menu-submenus.open:after {
  content: "▴";
  font-weight: bold;
  padding-left: 10px;
  font-size: 20px;
}

.theme-blue #full-menu .menu-items .has-submenu ul {
  width: calc(100% + 40px);
  position: absolute;
  z-index: 9;
  left: -20px;
  top: 100%;
  padding-left: 0px;
}

.theme-blue #full-menu .menu-items .has-submenu ul li span {
  padding: 10px;
}

.theme-blue #full-menu .menu-submenu {
  display: none;
}

.theme-blue #full-menu span {
  text-align: center;
}

.theme-grey #full-menu {
  color: white;
  background-color: #616161;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 60px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.theme-grey #full-menu .hidden {
  display: none !important;
}

.theme-grey #full-menu .menu-identity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: left;
  width: 20%;
  padding: 10px 0px 10px 15px;
}

.theme-grey #full-menu .menu-identity .menu-title {
  color: white;
  max-width: 100px;
}

@media (max-width: 991px) {
  .theme-grey #full-menu .menu-identity .menu-title {
    max-width: 440px;
  }
}

@media (max-width: 767px) {
  .theme-grey #full-menu .menu-identity .menu-title {
    max-width: 300px;
  }
}

@media (max-width: 575px) {
  .theme-grey #full-menu .menu-identity .menu-title {
    max-width: 175px;
  }
}

@media (max-width: 450px) {
  .theme-grey #full-menu .menu-identity .menu-title {
    max-width: 50%;
  }
}

.theme-grey #full-menu .menu-identity .menu-logo {
  width: 40px;
  min-width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 450px) {
  .theme-grey #full-menu .menu-identity .menu-logo {
    max-width: 50%;
  }
}

.theme-grey #full-menu .menu-identity .menu-logo-solo {
  width: 100%;
}

.theme-grey #full-menu .menu-identity .menu-separator {
  height: 60%;
  width: 2px;
  background-color: white;
  opacity: .3;
  position: relative;
  left: 1px;
  margin-left: 10px;
}

.theme-grey #full-menu .menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  min-width: 80%;
}

.theme-grey #full-menu .menu-items.full-width {
  width: 100%;
}

.theme-grey #full-menu .menu-items .menu-name, .theme-grey #full-menu .menu-items .menu-link {
  padding: 0 10px;
}

.theme-grey #full-menu .menu-items .menu-item {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #616161;
  -webkit-transition: all .2s;
  transition: all .2s;
  border-bottom: 0px solid white;
  padding: 0px;
}

.theme-grey #full-menu .menu-items .menu-item a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.theme-grey #full-menu .menu-items .menu-item.menu-title:hover, .theme-grey #full-menu .menu-items .menu-item.menu-title:focus {
  text-decoration: underline;
}

.theme-grey #full-menu .menu-items .menu-item a:hover, .theme-grey #full-menu .menu-items .menu-item a:focus, .theme-grey #full-menu .menu-items .menu-item button:hover, .theme-grey #full-menu .menu-items .menu-item button:focus, .theme-grey #full-menu .menu-items .menu-item .content-editable-selected {
  background-color: #2e2e2e !important;
  border-bottom: 5px solid #e2e2e2 !important;
}

.theme-grey #full-menu .menu-items .menu-item a:focus, .theme-grey #full-menu .menu-items .menu-item button:focus, .theme-grey #full-menu .menu-items .menu-item a:hover, .theme-grey #full-menu .menu-items .menu-item button:hover {
  background-color: #2e2e2e;
  border-bottom: 5px solid #e2e2e2;
  color: white;
}

.theme-grey #full-menu .menu-items .menu-item a, .theme-grey #full-menu .menu-items .menu-item button {
  color: white;
}

.theme-grey #full-menu .menu-items .menu-item .menu-item > a:focus, .theme-grey #full-menu .menu-items .menu-item .menu-item > a:hover {
  border-bottom: 0px solid #e2e2e2 !important;
}

.theme-grey #full-menu .menu-items .has-submenu .menu-submenus {
  width: 100%;
  height: 100%;
  background: none;
  border: 0px solid black;
}

.theme-grey #full-menu .menu-items .has-submenu .menu-submenus.closed:after {
  content: "▾";
  font-weight: bold;
  padding-left: 10px;
  font-size: 20px;
}

.theme-grey #full-menu .menu-items .has-submenu .menu-submenus.open:after {
  content: "▴";
  font-weight: bold;
  padding-left: 10px;
  font-size: 20px;
}

.theme-grey #full-menu .menu-items .has-submenu ul {
  width: calc(100% + 40px);
  position: absolute;
  z-index: 9;
  left: -20px;
  top: 100%;
  padding-left: 0px;
}

.theme-grey #full-menu .menu-items .has-submenu ul li span {
  padding: 10px;
}

.theme-grey #full-menu .menu-submenu {
  display: none;
}

.theme-grey #full-menu span {
  text-align: center;
}

.text-bold > a:first-child, .text-bold button span, a.text-bold span {
  font-weight: bold !important;
}

.text-italic > a:first-child, .text-italic button span, a.text-italic span {
  font-style: italic !important;
}

.text-underline > a:first-child, .text-underline button span, a.text-underline span {
  text-decoration: underline !important;
}

.d-none {
  display: none;
}

.bars_easytoc {
  width: 50px;
  cursor: pointer;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 25px;
  outline: none;
  padding-right: 20px;
}

.bars_easytoc:focus {
  outline: none;
}

.bars_easytoc__line {
  height: 3px;
  width: 100%;
  border-radius: 2px;
}

.theme-white .bars_easytoc__line {
  background-color: #5e5e5e;
}

.theme-black .bars_easytoc__line {
  background-color: #d4d4d4;
}

.theme-green .bars_easytoc__line {
  background-color: white;
}

.theme-red .bars_easytoc__line {
  background-color: white;
}

.theme-blue .bars_easytoc__line {
  background-color: white;
}

.theme-grey .bars_easytoc__line {
  background-color: #e2e2e2;
}

.bars_easytoc.close {
  position: relative;
  height: 45px;
  left: -20px;
}

.bars_easytoc.close .bars_easytoc__line {
  width: 40px;
  position: absolute;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  top: 50%;
  left: 15px;
  width: 45px;
}

.bars_easytoc.close .bars_easytoc__line.line2 {
  display: none;
}

.bars_easytoc.close .bars_easytoc__line.line1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.bars_easytoc.close .bars_easytoc__line.line3 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media (max-width: 991px) {
  #full-menu {
    position: relative;
  }
  .theme-white .submenu .menu-item {
    background-color: #cacaca !important;
  }
  .theme-black .submenu .menu-item {
    background-color: black !important;
  }
  .theme-green .submenu .menu-item {
    background-color: #48f8bd !important;
  }
  .theme-red .submenu .menu-item {
    background-color: #700e0e !important;
  }
  .theme-blue .submenu .menu-item {
    background-color: #0a1a4d !important;
  }
  .theme-grey .submenu .menu-item {
    background-color: #2e2e2e !important;
  }
  #generated-menu #full-menu .menu-items {
    display: none;
  }
  #generated-menu #full-menu .menu-items .menu-item a {
    min-height: 50px;
    height: 50px;
    padding: 0px;
  }
  #generated-menu #full-menu .menu-items.open-resp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0px;
    width: 100%;
  }
  #generated-menu #full-menu .menu-items.open-resp > li {
    font-size: 17px;
  }
  #generated-menu #full-menu .menu-items.open-resp > li > button {
    font-size: 17px;
  }
  #generated-menu #full-menu .menu-items.open-resp .menu-item {
    margin: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    min-height: 50px;
  }
  #generated-menu #full-menu .menu-items.open-resp .menu-item.open-ss-menu a:hover {
    border-bottom: 0px !important;
  }
  #generated-menu #full-menu .menu-items.open-resp .menu-item.open-ss-menu .menu-item {
    height: 35px;
  }
  #generated-menu #full-menu .menu-items.open-resp .has-submenu ul {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 0px;
  }
  #generated-menu #full-menu .menu-items.open-resp .has-submenu .menu-submenus {
    position: relative;
    height: 50px;
  }
  .theme-white #generated-menu #full-menu .menu-items.open-resp .has-submenu .menu-submenus.open {
    background-color: #cacaca !important;
    border-bottom: 5px solid #5e5e5e !important;
  }
  .theme-black #generated-menu #full-menu .menu-items.open-resp .has-submenu .menu-submenus.open {
    background-color: black !important;
    border-bottom: 5px solid #d4d4d4 !important;
  }
  .theme-green #generated-menu #full-menu .menu-items.open-resp .has-submenu .menu-submenus.open {
    background-color: #48f8bd !important;
    border-bottom: 5px solid #48f8bd !important;
  }
  .theme-red #generated-menu #full-menu .menu-items.open-resp .has-submenu .menu-submenus.open {
    background-color: #700e0e !important;
    border-bottom: 5px solid #fc4040 !important;
  }
  .theme-blue #generated-menu #full-menu .menu-items.open-resp .has-submenu .menu-submenus.open {
    background-color: #0a1a4d !important;
    border-bottom: 5px solid #7ae4ff !important;
  }
  .theme-grey #generated-menu #full-menu .menu-items.open-resp .has-submenu .menu-submenus.open {
    background-color: #2e2e2e !important;
    border-bottom: 5px solid #e2e2e2 !important;
  }
  .bars_easytoc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .theme-white #full-menu {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .theme-black #full-menu {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .theme-green #full-menu {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .theme-red #full-menu {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .theme-blue #full-menu {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .theme-grey #full-menu {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #full-menu {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .theme-white #full-menu .menu-identity {
    width: auto;
  }
  .theme-black #full-menu .menu-identity {
    width: auto;
  }
  .theme-green #full-menu .menu-identity {
    width: auto;
  }
  .theme-red #full-menu .menu-identity {
    width: auto;
  }
  .theme-blue #full-menu .menu-identity {
    width: auto;
  }
  .theme-grey #full-menu .menu-identity {
    width: auto;
  }
  .theme-white #full-menu .menu-identity .menu-logo {
    width: 90px;
    min-width: 40px;
    height: 58px;
  }
  .theme-black #full-menu .menu-identity .menu-logo {
    width: 90px;
    min-width: 40px;
    height: 58px;
  }
  .theme-green #full-menu .menu-identity .menu-logo {
    width: 90px;
    min-width: 40px;
    height: 58px;
  }
  .theme-red #full-menu .menu-identity .menu-logo {
    width: 90px;
    min-width: 40px;
    height: 58px;
  }
  .theme-blue #full-menu .menu-identity .menu-logo {
    width: 90px;
    min-width: 40px;
    height: 58px;
  }
  .theme-grey #full-menu .menu-identity .menu-logo {
    width: 90px;
    min-width: 40px;
    height: 58px;
  }
  #full-menu .menu-identity .menu-title {
    font-size: 20px;
    line-height: 20px;
  }
}
/*# sourceMappingURL=all-themes.css.map */