// Themes

$themes: (
    white: (
        btnClose: rgb(94, 94, 94),
        backgroundColorSub: rgb(202, 202, 202),
        backgroundColor: #fff,
        aHoverColor: rgb(153, 148, 148),
        borderHover : rgb(94, 94, 94),
        textColor : black
    ),
    black: (
        btnClose: rgb(212, 212, 212),
        backgroundColorSub: rgb(0, 0, 0),
        backgroundColor: rgb(51, 51, 51),
        aHoverColor: rgb(0, 0, 0),
        borderHover : rgb(212, 212, 212),
        textColor : white
    ),
    green: (
        btnClose: white,
        backgroundColorSub: rgb(72, 248, 189),
        backgroundColor: #38ada9,
        aHoverColor: #016d67,
        borderHover : rgb(72, 248, 189),
        textColor : black
    ),
    red: (
        btnClose: white,
        backgroundColorSub: rgb(112, 14, 14),
        backgroundColor: rgb(185, 44, 44),
        aHoverColor: rgb(112, 14, 14),
        borderHover : rgb(252, 64, 64),
        textColor : white
    ),
    blue: (
        btnClose: white,
        backgroundColorSub: #0a1a4d,
        backgroundColor: #273c75,
        aHoverColor: #0a1a4d,
        borderHover : rgb(122, 228, 255),
        textColor : white
    ),
    grey: (
        btnClose: rgb(226, 226, 226),
        backgroundColorSub: rgb(46, 46, 46),
        backgroundColor: rgb(97, 97, 97),
        aHoverColor: rgb(46, 46, 46),
        borderHover : rgb(226, 226, 226),
        textColor : white
    )
);


// Implementation des themes

@mixin themify($themes) {
    @each $theme,
    $map in $themes {
        .theme-#{$theme} & {
            $theme-map: () !global;
            @each $key,
            $submap in $map {
                $value: map-get(map-get($themes, $theme), '#{$key}');
                $theme-map: map-merge($theme-map, ($key: $value)) !global;
            }
            @content;
            $theme-map: null !global;
        }
    }
}

@function themed($key) {
    @return map-get($theme-map, $key);
}


// Styles
body {
    margin: 0px;
}
#full-menu {
    a {
        @include themify($themes) {
            color: themed('textColor'); 
        }
        text-decoration: none;
    }
    .menu-item{
        font-size: 14px;
        button {
            font-size: 14px;
        }
    }
    @include themify($themes) {
        color: themed('textColor');  
        background-color: themed('backgroundColor');  
        display: flex;
        width: 100%;
        min-height: 60px;
        justify-content: space-evenly;
        font-family: Arial, Helvetica, sans-serif;
        box-shadow: 0 0 10px rgba(0, 0, 0, .3);
        z-index: 10;

        .hidden{
            display: none !important;
        }        

        .menu-identity{
            display: flex;
            justify-content: space-between;
            align-items: center;
            float: left;
            width: 20%;
            padding: 10px 0px 10px 15px;

            .menu-title{
                color: themed('textColor');
                max-width: 100px;
                @media (max-width: 991px) {
                    max-width: 440px;
                }
                @media (max-width: 767px) {
                    max-width: 300px;
                }
                @media (max-width: 575px) {
                    max-width: 175px;
                }
                @media (max-width: 450px) {
                    max-width: 50%;
                }
            }

            .menu-logo{
                width: 40px;
                min-width: 40px;
                height: 40px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                @media (max-width: 450px) {
                    max-width: 50%;
                }
            }

            .menu-logo-solo{
                width: 100%;
            }

            .menu-separator{
                height: 60%;
                width: 2px;
                background-color: themed('textColor');
                opacity: .3;
                position: relative;
                left: 1px;
                margin-left: 10px;
            }
        }

        .menu-items{
            display: flex;
            justify-content: space-around;
            align-items: center;
            list-style: none;
            margin: 0;
            padding: 0;
            min-width: 80%;

            &.full-width{
                width: 100%;
            }

            .menu-name, .menu-link{
                padding: 0 10px;
            }

            .menu-item{
                position: relative;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: themed('backgroundColor');  
                transition: all .2s;
                border-bottom: 0px solid white;
                padding: 0px;

                a{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                }

                &.menu-title{
                    &:hover, &:focus{
                        text-decoration: underline;
                    }
                }

                a:hover, a:focus, button:hover, button:focus, .content-editable-selected {
                    background-color: themed('aHoverColor') !important; 
                    border-bottom: 5px solid themed('borderHover') !important; 
                }

                a:focus,button:focus {
                    background-color: themed('aHoverColor'); 
                    border-bottom: 5px solid themed('borderHover'); 
                }
                .menu-item > a:focus, .menu-item > a:hover {
                    border-bottom:0px solid themed('borderHover') !important; 
                }
            }

        
            .has-submenu{
                .menu-submenus{
                    width: 100%;
                    height: 100%;
                    background: none;
                    border: 0px solid black;
                    color: themed('textColor'); 

                    &.closed:after{
                        content : "▾";
                        font-weight: bold;
                        padding-left: 10px;
                        font-size: 20px;
                    }

                    &.open:after{
                        content : "▴";
                        font-weight: bold;
                        padding-left: 10px;
                        font-size: 20px;
                    }
                }
    
                ul{
                    width: calc(100% + 40px);
                    position: absolute;
                    z-index: 9;
                    left: -20px;
                    top: 100%;
                    padding-left: 0px;
                    li span{
                        padding: 10px;
                    }
                }
                
            }
        }

        .menu-submenu{
            display: none;
        }

        span{
            text-align: center;
        }
    }
}

.text-bold > a:first-child, .text-bold button span, a.text-bold span{
    font-weight: bold !important;
}

.text-italic > a:first-child, .text-italic button span, a.text-italic span{
    font-style: italic !important;
}

.text-underline > a:first-child, .text-underline button span, a.text-underline span{
    text-decoration: underline !important;
}
.d-none {
    display: none;
}
.bars_easytoc {
    width: 50px;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 25px;
    outline: none;
    padding-right: 20px;
    &:focus {
        outline: none;
    }
    &__line {
        height: 3px;
        width: 100%;
        @include themify($themes) {
            background-color : themed('btnClose');
        }
        border-radius: 2px;
    }
    &.close {
        position: relative;
        height: 45px;
        left: -20px;
        .bars_easytoc__line {
            width: 40px;
            position: absolute;
            transition: all 0.2s;
            top: 50%;
            left: 15px;
            width: 45px;
            &.line2 {
                display: none;
            }
            &.line1 {
                transform: rotate(45deg);
            }
            &.line3 {
                transform: rotate(-45deg);
            }
        }
    }
}

@media (max-width: 991px) {
    #full-menu {
        position: relative;
    }
    .submenu .menu-item {
        @include themify($themes) {
            background-color: themed('backgroundColorSub') !important;
        }
    }
    #generated-menu #full-menu .menu-items {
        display: none;
        .menu-item a {
            min-height: 50px;
            height: 50px;
            padding: 0px;
        }
        &.open-resp {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 100%;
            left: 0px;
            width: 100%;
            & > li {
                font-size: 17px;
                & > button {
                    font-size: 17px;
                }
            }
            .menu-item {
                margin: 0px;
                flex-direction: column;
                height: auto;
                min-height: 50px;
                &.open-ss-menu {
                    a {
                        &:hover {
                            border-bottom: 0px !important;
                        }
                    }
                    .menu-item {
                        height: 35px;
                    }
                }
            }
            .has-submenu ul {
                position: relative;
                top: 0px;
                left: 0px;
                width: 100%;
                padding: 0px;
            }
            .has-submenu .menu-submenus {
                position: relative;
                height: 50px;
                &.open {
                    @include themify($themes) {
                        background-color: themed('backgroundColorSub') !important;
                        border-bottom: 5px solid themed('borderHover') !important;
                    }
                }
            }
        }
    }

    .bars_easytoc {
        display: flex;
    }
    #full-menu {
        @include themify($themes) {
            justify-content: space-between;
        }
    }
    #full-menu {
        align-items: center;
    }
    #full-menu .menu-identity {
        @include themify($themes) {
            width: auto;
        }
    }
    #full-menu .menu-identity .menu-logo {
        @include themify($themes) {
            width: 90px;
            min-width: 40px;
            height: 58px;
        }
    }
    #full-menu .menu-identity .menu-title {
        font-size: 20px;
        line-height: 20px;
    }
}