// Themes

$themes: (
    white: (
        backgroundColor: #fff,
        aHoverColor: rgb(202, 202, 202),
        borderHover : rgb(94, 94, 94),
        textColor : black
    ),
    black: (
        backgroundColor: rgb(51, 51, 51),
        aHoverColor: rgb(0, 0, 0),
        borderHover : rgb(212, 212, 212),
        textColor : white
    ),
    green: (
        backgroundColor: #38ada9,
        aHoverColor: #016d67,
        borderHover : rgb(72, 248, 189),
        textColor : black
    ),
    red: (
        backgroundColor: rgb(185, 44, 44),
        aHoverColor: rgb(112, 14, 14),
        borderHover : rgb(252, 64, 64),
        textColor : white
    ),
    blue: (
        backgroundColor: #273c75,
        aHoverColor: #0a1a4d,
        borderHover : rgb(122, 228, 255),
        textColor : white
    ),
    grey: (
        backgroundColor: rgb(97, 97, 97),
        aHoverColor: rgb(46, 46, 46),
        borderHover : rgb(226, 226, 226),
        textColor : white
    )
);


// Implementation des themes

@mixin themify($themes) {
    @each $theme,
    $map in $themes {
        .theme-#{$theme} & {
            $theme-map: () !global;
            @each $key,
            $submap in $map {
                $value: map-get(map-get($themes, $theme), '#{$key}');
                $theme-map: map-merge($theme-map, ($key: $value)) !global;
            }
            @content;
            $theme-map: null !global;
        }
    }
}

@function themed($key) {
    @return map-get($theme-map, $key);
}


// Styles

#full-menu {
    @include themify($themes) {
        color: themed('textColor');  
        background-color: themed('backgroundColor');  
        display: flex;
        width: 100%;
        height: 60px;
        justify-content: space-evenly;

        .hidden{
            display: none !important;
        }        

        .menu-identity{
            display: flex;
            justify-content: space-between;
            align-items: center;
            float: left;
            width: 20%;
            padding: 10px 0px 10px 15px;

            .menu-title{
                color: themed('textColor');
                max-width: 100px;
            }

            .menu-logo{
                width: 40px;
                height: 40px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }

            .menu-logo-solo{
                width: 100%;
            }

            .menu-separator{
                height: 60%;
                width: 2px;
                background-color: themed('textColor');
                opacity: .3;
                position: relative;
                left: 1px;
                margin-left: 10px;
            }
        }

        .menu-items{
            display: flex;
            justify-content: space-around;
            align-items: center;
            list-style: none;
            margin: 0;
            padding: 0;
            min-width: 80%;

            &.full-width{
                width: 100%;
            }

            .menu-item{
                position: relative;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: themed('backgroundColor');  
                transition: all .2s;
                border-bottom: 0px solid white;

                a{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                &.menu-title{
                    &:hover, &:focus{
                        text-decoration: underline;
                    }
                }

                &:hover, &:focus, .menu-item > a:hover , .menu-item > a:focus{
                    background-color: themed('aHoverColor'); 
                    border-bottom: 5px solid themed('borderHover'); 
                }
            }

            .has-submenu{
                .menu-submenus:after{
                    content : "▾";
                    font-weight: bold;
                    padding-left: 10px;
                    font-size: 20px;
                }
    
                ul{
                    display: none;
                    width: calc(100% + 40px);

                    li span{
                        padding: 10px;
                    }
                }
    
                a:hover + ul, a:focus + ul, ul:hover, ul:focus{
                    display: block;
                    position: absolute;
                    left: -40px;
                    top: 60px;
                }
                
            }
        }

        .menu-submenu{
            display: none;
        }

        span{
            text-align: center;
        }
    }
}