#full-form h1 {
  font-family: sans-serif;
  font-weight: lighter;
}

#full-form a {
  cursor: pointer;
}

.theme-green #full-form {
  color: black;
  background-color: white;
}

.theme-green #full-form a:hover {
  font-weight: normal;
  color: black;
}

#generated-form {
  margin: 20px 0px;
  font-family: Arial, Helvetica, sans-serif;
}

#form-title {
  background-color: green;
  color: white;
  padding: 25px;
  margin: 0 -21px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

#full-form {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border: 1px solid green;
  padding: 0 20px;
  color: black;
  width: 90vw;
  max-width: 600px;
  margin: 0 auto;
}

#full-form h1 {
  margin: auto;
}

#full-form > * {
  max-width: 100%;
}

#full-form p, #full-form li {
  line-height: 1.4rem;
}

#full-form a {
  color: black;
  text-decoration: none;
}

#full-form a:hover {
  text-decoration: none;
  color: black;
  font-size: inherit;
}

#full-form ul, #full-form ol {
  padding-left: 0px;
}

#full-form ul li, #full-form ol li {
  margin-left: 40px;
  list-style-type: none;
  position: relative;
}

#full-form ul li::before, #full-form ol li::before {
  content: '';
  position: absolute;
  top: 7px;
  left: -15px;
  height: 7px;
  width: 7px;
  background-color: green;
  border-radius: 50%;
}

#full-form .form-control {
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  max-width: 95%;
  width: 95%;
  margin-bottom: 20px;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  margin-top: 8px;
  -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

#full-form .insert-one_answer, #full-form .insert-many_answer, #full-form .insert-binary_answer {
  margin-bottom: 20px;
}

#full-form select {
  width: 100%;
}

#full-form abbr[aria-label='required'] {
  color: orange;
}

#full-form label > span {
  margin-bottom: 20px;
  color: green;
  font-weight: bold;
}

#full-form fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: green solid 1.5px;
  padding: 10px 0px 15px 10px;
  border-radius: 5px;
  font-weight: bold;
  color: green;
}

#full-form fieldset label span {
  color: black;
  font-weight: normal;
}

#full-form fieldset label {
  margin: 4px 0px;
}

#form-actions {
  width: 90vw;
  max-width: 600px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 30px;
}

#form-actions input {
  cursor: pointer;
  font-size: 16px;
}

#form-actions input:hover {
  color: white;
}

#form-actions input[type="reset"] {
  padding: 10px 30px;
  border: none;
  background-color: #EFEFEF;
  border-radius: 12px;
  min-width: 40%;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

#form-actions input[type="reset"]:hover {
  background-color: #E13838;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

#form-actions input[type="submit"] {
  color: white;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  padding: 10px 30px;
  border: none;
  background-color: #393737;
  border-radius: 12px;
  min-width: 40%;
}

#form-actions input[type="submit"]:hover {
  background-color: green;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
/*# sourceMappingURL=all-themes.css.map */